.box{
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: linear-gradient(red,blue);
    background-image: linear-gradient(to right, red,blue);
    background-image: linear-gradient(to bottom right, red,blue green);
    background-image: linear-gradient(to bottom left,pink ,blue,green,white,brown);
}
.mydiv{
    border: 1px solid black;
    height: 500px;
    width: 400px;
    padding: 30px;
    margin: 10px;
    background-image:conic-gradient(red,blue,green) ;
    background-image: conic-gradient(yellow ,orange ,white ,lightblue ,darkblue ,white ,lightblue  );
  
}
/* .mydiv{
    border: 1px solid black;
    height: 200px;
    width: 300px;
    margin: 10px;

} */
 