.box{
    background-color: aqua;
    /* transform:translate(10px,20px) ; */
    /* transform: rotate(-45deg); */
    /* transform: scale(); */
    margin: 200px;
    transform: scale(1,6);
    transform: skew(-135deg);
}