h1{
    text-shadow: 3px 3px 3px  red;
    text-shadow: 3px 3px 3px  red , 8px 8px 8px green;
}
.box{
    background-color: aqua;
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 10px red,15px 15px 15px brown;   
    color: green;
}